<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta viewport="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="../style/home.css" rel='stylesheet'>
        <link href="https://unpkg.com/@popperjs/core@2">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet">
        
        <script src="../node_modules/codemirror/lib/codemirror.js"></script>
        <link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css">
        
        <script src="../node_modules/codemirror/mode/javascript/javascript.js"></script>
        <script src="../node_modules/codemirror/mode/php/php.js"></script>
        <script src="../node_modules/codemirror/mode/clike/clike.js"></script>
        <script src="../node_modules/codemirror/mode/python/python.js"></script>
        <script src="../node_modules/codemirror/addon/scroll/simplescrollbars.js"></script>
        <script src="../node_modules/codemirror/addon/edit/matchbrackets.js"></script>
        <script src="../node_modules/codemirror/addon/edit/closebrackets.js"></script>

        <link rel='stylesheet' href="../node_modules/codemirror/addon/scroll/simplescrollbars.css">
        <link rel='stylesheet' href='../node_modules/codemirror/theme/erlang-dark.css'>

        <title>Home</title>
    </head>
    <body class="bg-dark">

        <ul class="navbar navbar-dark bg-dark border-top border-bottom border-primary">

            <li class="nav-item">
                <div class="btn-group" role="group" aria-label="Basic outlined">
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Run Code">
                        Run 
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Save file here">
                        Save
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download file">
                        Download
                    </button>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Shorcuts
                </a>
                <ul class="dropdown-menu" style='list-style: none' aria-labelledby="navbarDropdown">
                    <li class="dropdown-item list-group-item p-1 m-0 d-flex justify-content-between align-items-center">Select All
                        <span class="ms-4 badge bg-primary"> Ctrl-A/Cmd-A</span>
                    </li> 
                    <li class="dropdown-item list-group-item p-1 m-0 d-flex justify-content-between align-items-center">Copy
                        <span class="ms-4 badge bg-primary"> Ctrl-C/Cmd-C</span>
                    </li> 
                    <li class="dropdown-item list-group-item p-1 m-0 d-flex justify-content-between align-items-center">Paste
                        <span class="ms-4 badge bg-primary"> Ctrl-V/Cmd-V</span>
                    </li> 
                    <li class="dropdown-item list-group-item p-1 m-0 d-flex justify-content-between align-items-center">Cut
                        <span class="ms-4 badge bg-primary"> Ctrl-X/Cmd-X</span>
                    </li>
                    
                </ul>
            </li>

            <li class="nav-item pe-2 ps-2">
                <select class="fonts form-select form-select-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Font-Style" aria-label="Default select ">
                    <option value="'Space Mono', monospace" selected>Space mono</option>
                    <option value="'Cousine', monospace">Cousine</option>
                    <option value="'Ubuntu Mono', monospace">Ubuntu</option>
                    <option value="'Fira Code', monospace">Fira Code</option>
                    <option value="'Nova Mono', monospace">Nova</option>
                    <option value="'JetBrains Mono', monospace">JetBrains</option>
                    <option value="'Syne Mono', monospace">Syne</option>
                </select>
            </li>

            <li class='nav-item pe-2 ps-2'>

                <select class="language form-select form-select-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Language" aria-label="Default select ">
                    <option value="c" selected>C</option>
                    <option value="c++">C++</option>
                    <option value="java">Java</option>
                    <option value="python">Python</option>
                    <option value="javaScript">JavaScript</option>
                    <option value="php">PHP</option>
                </select>

            </li>
        </ul>

        <div class='split'>
            <div class='code'>
            </div>
            <div class='seperator'>
                <div class='line'>
                </div>
            </div>
            <div class='output text-light ms-3'>
                <div class="row">
                    Output  
                </div>
            </div>
        </div>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>
        <script src="../script/home.js"></script>
    </body>
</html>