<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta viewport="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="../style/home.css" rel='stylesheet'>
        <link href="https://unpkg.com/@popperjs/core@2">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet">
        <script src="../node_modules/codemirror/lib/codemirror.js"></script>
        <link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css">
        <script src="../node_modules/codemirror/mode/javascript/javascript.js"></script>
        <script src="../node_modules/codemirror/mode/php/php.js"></script>
        <script src="../node_modules/codemirror/mode/clike/clike.js"></script>
        <script src="../node_modules/codemirror/mode/python/python.js"></script>
        <script src="../node_modules/codemirror/addon/scroll/simplescrollbars.js"></script>
        <script src="../node_modules/codemirror/addon/edit/matchbrackets.js"></script>
        <script src="../node_modules/codemirror/addon/edit/closebrackets.js"></script>
        <script src="../node_modules/codemirror/addon/fold/foldgutter.js"></script>
        <script src="../node_modules/codemirror/addon/fold/brace-fold.js"></script>
        <script src="../node_modules/codemirror/addon/fold/comment-fold.js"></script>
        <script src="../node_modules/codemirror/addon/fold/indent-fold.js"></script>
        <script src="../node_modules/codemirror/addon/fold/foldcode.js"></script>
        <script src="../node_modules/codemirror/addon/search/match-highlighter.js"></script>
        <script src="../node_modules/codemirror/addon/search/search.js"></script>
        <script src="../node_modules/codemirror/addon/search/searchcursor.js"></script>
        <script src="../node_modules/codemirror/addon/scroll/annotatescrollbar.js"></script>
        <script src="../node_modules/codemirror/addon/display/placeholder.js"></script>
        <link rel='stylesheet' href='../node_modules/codemirror/addon/fold/foldgutter.css'>
        <link rel='stylesheet' href="../node_modules/codemirror/addon/scroll/simplescrollbars.css">
        <link rel='stylesheet' href='../node_modules/codemirror/theme/erlang-dark.css'>
        <title>Home</title>
    </head>
    <body class="bg-dark">
    
        <nav class="navbar navbar-expand p-0 navbar-dark bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="nav-link" id='run'>Run</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id='pop_save_modal' data-bs-toggle="modal" data-bs-target="#saveModal">Save</button>
                </li>
                <li class="nav-item">
                    <button data-bs-toggle="modal" data-bs-target="#downloadModal" id='download' class="nav-link">Download</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id='clear'>Clear</button>
                </li>

                <li class="nav-item d-flex">
                    <button class="nav-link" style='display: none' id='file_name'></button>
                    <button class='nav-link' style='display: none' id='close_open_file'>Close</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        Settings
                    </button>
                </li>
                <li class='nav-item ms-2' style='width: 300px;'>
    
                    <select class="nav-link p-1 m-1 text-dark language form-select form-select-sm" >
                        
                        <option value="c" selected>C</option>
                        <option value="c++">C++</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option>
                        <option value="javascript">JavaScript</option>
                        
                    </select>
    
                </li>
        
            </ul>
        </nav>

        <div>
            <div class='code'>
            </div>
            <div class="seperator"><div class="line"></div></div>
            <div class='io p-0 m-0 row'>
                <div class='output col-8 text-light'>
                </div>
                <div class='input col-4 test-light' placeholder='Input goes here'>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel" class='p-2'>Settings</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                
                <li class="nav-item">
                    <span>Font-size</span>
                    <div class='d-flex justify-content-between'>
                        <span>10px</span>
                        <span  id='range_value'>18px</span>
                        <span>40px</span>
                    </div>
                    <input type="range" class="form-range" min="10" max="40" id="font_size">
                </li>
                
                <br/>
                <li class="nav-item">
                    <select class="fonts form-select mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Font-Style" aria-label="Default select ">
                        <option value="'Space Mono', monospace" selected>Space mono</option>
                        <option value="'Cousine', monospace">Cousine</option>
                        <option value="'Ubuntu Mono', monospace">Ubuntu</option>
                        <option value="'Fira Code', monospace">Fira Code</option>
                        <option value="'Nova Mono', monospace">Nova</option>
                        <option value="'JetBrains Mono', monospace">JetBrains</option>
                        <option value="'Syne Mono', monospace">Syne</option>
                    </select>
                </li>

                <li class="nav-item text-dark">
                    <div class="accordion accordion-flush text-dark" id="accordionFlushExample">
                        <div class="accordion-item rounded">
                            <h2 class="accordion-header p-1" id="flush-headingOne">
                                <button class="accordion-button collapsed rounded p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Shortcuts
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body shortcuts f-6">
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Select all</p> 
                                            <p>Ctrl-A, Cmd-A</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Delete line</p> 
                                            <p>Ctrl-D, Cmd-D</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Undo</p> 
                                            <p>Ctrl-Z, Cmd-Z</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Redo</p> 
                                            <p>Ctrl-Y, Cmd-Y</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Goto line end</p> 
                                            <p>Alt-Right, Ctrl-E(Mac)</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Goto line start</p> 
                                            <p>Alt-Left, Ctrl-A(Mac)</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item rounded mt-3">
                            <h2 class="accordion-header p-1" id="files_heading">
                                <button class="accordion-button collapsed rounded p-2" type="button" data-bs-toggle="collapse" data-bs-target="#files" aria-expanded="false" aria-controls="files">
                                    Files
                                </button>
                            </h2>
                            <div id="files" class="accordion-collapse collapse" aria-labelledby="files_heading" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body p-2" id='fileslist'>

                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>

                                            <p style='font-size: 14px'>fileName</p> 
                                            
                                            <div class='btn-group d-flex'>
                                                <p data-file='1' class='delete btn btn-outline-danger'>Delete</p>
                                                <p data-file='1' class='open btn btn-outline-primary'>Open</p>
                                                <p data-file='1' class='rename btn btn-outline-primary'>Rename</p>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>


                <% if(user === undefined) { %>
                    <li class="nav-item text-center">
                        <a href='/login' class="btn btn-primary p-1 m-2" style='width: 200px'>
                            Login
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item text-center">
                        <a href='/logout' class="btn btn-primary p-1 m-2" style='width: 200px'>
                            Logout
                        </a>
                    </li>
                <% } %> 

            </div>
        </div>

        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="saveModalLabel">Save file</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <% if(user === undefined) { %>
                            <div class="text-center">
                                Login to save here <br/>
                                <a href='/login' class="btn btn-primary p-1 m-2" style='width: 200px'>
                                    Login
                                </a>
                            </div>
                        <% } else { %>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">File Name</span>
                                <input type="text" id='save_file_name' class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                            </div>
                        <% } %> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" id='close_save' class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                        <% if(user !== undefined) { %>
                            <button type="button" id='save' data-bs-dismiss="modal" class="btn btn-primary">Save file</button>
                        <% } %> 
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete <span id='delete_name'></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id='delete_modal' class="btn btn-danger" data-bs-dismiss='modal'>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="renameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="renameModalLabel">Rename</h5>
                    </div>
                    <div class="modal-body">

                        <p>New Name for <span id='rename_fileName'></span></p>                        

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">New Name</span>
                            <input type="text" id='rename_file' class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id='rename_button' class="btn btn-danger" data-bs-dismiss='modal'>Rename</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="downloadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="downloadModalLabel">Download</h5>
                    </div>
                    <div class="modal-body">
                        
                        <p>Download file as..</p>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Save as</span>
                            <input type="text" id='download_file_name' class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id='download_file' class="btn btn-danger" data-bs-dismiss='modal'>Download</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>
        <script src="../script/home.js"></script>
    </body>
</html>