<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="../images/icon.ico">
        <meta viewport="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="https://unpkg.com/@popperjs/core@2">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet">
        <script src="../node_modules/codemirror/lib/codemirror.js"></script>
        <link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css">
        <script src="../node_modules/codemirror/mode/javascript/javascript.js"></script>
        <script src="../node_modules/codemirror/mode/php/php.js"></script>
        <script src="../node_modules/codemirror/mode/clike/clike.js"></script>
        <script src="../node_modules/codemirror/mode/python/python.js"></script>
        <script src="../node_modules/codemirror/addon/scroll/simplescrollbars.js"></script>
        <script src="../node_modules/codemirror/addon/edit/matchbrackets.js"></script>
        <script src="../node_modules/codemirror/addon/edit/closebrackets.js"></script>
        <script src="../node_modules/codemirror/addon/fold/foldgutter.js"></script>
        <script src="../node_modules/codemirror/addon/fold/brace-fold.js"></script>
        <script src="../node_modules/codemirror/addon/fold/comment-fold.js"></script>
        <script src="../node_modules/codemirror/addon/fold/indent-fold.js"></script>
        <script src="../node_modules/codemirror/addon/fold/foldcode.js"></script>
        <script src="../node_modules/codemirror/addon/search/match-highlighter.js"></script>
        <script src="../node_modules/codemirror/addon/search/search.js"></script>
        <script src="../node_modules/codemirror/addon/search/searchcursor.js"></script>
        <script src="../node_modules/codemirror/addon/scroll/annotatescrollbar.js"></script>
        <script src="../node_modules/codemirror/addon/display/placeholder.js"></script>
        <link rel='stylesheet' href='../node_modules/codemirror/addon/fold/foldgutter.css'>
        <link rel='stylesheet' href="../node_modules/codemirror/addon/scroll/simplescrollbars.css">
        <link rel='stylesheet' href='../node_modules/codemirror/theme/erlang-dark.css'>
        <title>Home</title>        
        <link href="../style/home.css" rel='stylesheet'>

    </head>
    <body>
    
        <nav class="navbar navbar-expand container p-0 navbar-dark">

            <li class="nav-item" >
                <a href='/' class='nav-link navbar-brand text-primary'>
                    Code-Editor
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                        <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </a>
            </li>

            <ul class="navbar-nav d-flex justify-content-between" style='width: 100%'>


                <li class="nav-item d-flex">

                    <button class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Settings" width="18" height="18" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                        </svg>
                    </button>
                    <button data-bs-toggle="modal" data-bs-target="#downloadModal" id='download' class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>
                    </button>
                    <button class="nav-link" id='copy'>
                        <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copy Code" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </button>
                </li>


                <li class="nav-item d-flex">
                    <button class="nav-link" id='run'>Run</button>
                    <button class="nav-link" id='clear'>Clear</button>
                    <button class="nav-link" id='pop_save_modal' data-bs-toggle="modal" data-bs-target="#saveModal">Save</button>
                </li>

                <li class="nav-item d-flex">
                    <button class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Last Updated" style='display: none' id='file_name'></button>
                    <button class='nav-link text-danger' style='display: none' id='close_open_file'>Close</button>
                </li>

                <li class='nav-item ms-2' style='width: 200px;'>
    
                    <select class="nav-link p-1 m-1 text-dark language form-select form-select-sm" >
                        
                        <option value="c" selected>C</option>
                        <option value="c++">C++</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option>
                        <option value="javascript">JavaScript</option>
                        
                    </select>
    
                </li>

                <% if(user === undefined) { %>
                    
                    <li class="nav-item text-primary">
                        <a href="/login">
                            <button class='nav-link text-primary' type='button'>
                                Login
                            </button>
                        </a>
                    </li>

                <% } else { %>

                    <li class="nav-item text-danger">
                        <a href="/logout">
                            <button class='nav-link text-danger' type='button'>
                                Logout
                            </button>
                        </a>
                    </li>

                <% } %> 
        
            </ul>
        </nav>

        <div>
            <div class='code'>
            </div>
            <div class="seperator"><div class="line"></div></div>
            <div class='io p-0 m-0 row'>
                <div class='output col-8 text-light'>
                </div>
                <div class='input col-4 test-light' placeholder='Input goes here'>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel" class='p-2'>Settings</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                
                <li class="nav-item">
                    <span>Font-size</span>
                    <div class='d-flex justify-content-between'>
                        <span>10px</span>
                        <span  id='range_value'>18px</span>
                        <span>40px</span>
                    </div>
                    <input type="range" class="form-range" min="10" max="40" id="font_size">
                </li>
                
                <br/>
                <li class="nav-item">
                    <p>Fonts</p>
                    <select class="fonts form-select mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Font-Style" aria-label="Default select ">
                        <option value="'Space Mono', monospace" selected>Space mono</option>
                        <option value="'Cousine', monospace">Cousine</option>
                        <option value="'Ubuntu Mono', monospace">Ubuntu</option>
                        <option value="'Fira Code', monospace">Fira Code</option>
                        <option value="'Nova Mono', monospace">Nova</option>
                        <option value="'JetBrains Mono', monospace">JetBrains</option>
                        <option value="'Syne Mono', monospace">Syne</option>
                    </select>
                </li>
                
                <br/>

                <li class="nav-item text-dark">
                    <div class="accordion accordion-flush text-dark" id="accordionFlushExample">
                        <div class="accordion-item rounded">
                            <h2 class="accordion-header p-1" id="flush-headingOne">
                                <button class="accordion-button collapsed rounded p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Shortcuts
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body shortcuts f-6">
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Select all</p> 
                                            <p>Ctrl-A, Cmd-A</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Delete line</p> 
                                            <p>Ctrl-D, Cmd-D</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Undo</p> 
                                            <p>Ctrl-Z, Cmd-Z</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Redo</p> 
                                            <p>Ctrl-Y, Cmd-Y</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Goto line end</p> 
                                            <p>Alt-Right, Ctrl-E(Mac)</p>
                                        </li>
                                    </ul>
                                    <ul style='list-style: none' class='p-0'>
                                        <li class='d-flex justify-content-between'>
                                            <p>Goto line start</p> 
                                            <p>Alt-Left, Ctrl-A(Mac)</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="accordion-item rounded mt-3">
                            <h2 class="accordion-header p-1" id="files_heading">
                                <button class="accordion-button collapsed rounded p-2" type="button" data-bs-toggle="collapse" data-bs-target="#files" aria-expanded="false" aria-controls="files">
                                    Files
                                </button>
                            </h2>
                            <div id="files" class="accordion-collapse collapse" aria-labelledby="files_heading" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body p-2" id='fileslist'>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


                <% if(user === undefined) { %>
                    <li class="nav-item text-center">
                        <a href='/login' class="btn btn-primary p-1 m-2" style='width: 200px'>
                            Login
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item text-center">
                        <a href='/user' class="btn btn-primary p-1 m-2" style='width: 200px'>
                            Manage Account
                        </a>
                    </li>
                <% } %> 

            </div>
        </div>

        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="saveModalLabel">Save file</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <% if(user === undefined) { %>
                            <div class="text-center">
                                Login to save here <br/>
                                <a href='/login' class="btn btn-primary p-1 m-2" style='width: 200px'>
                                    Login
                                </a>
                            </div>
                        <% } else { %>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">File Name</span>
                                <input type="text" id='save_file_name' class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                            </div>
                        <% } %> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" id='close_save' class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                        <% if(user !== undefined) { %>
                            <button type="button" id='save' data-bs-dismiss="modal" class="btn btn-primary">Save file</button>
                        <% } %> 
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete <span id='delete_name'></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id='delete_modal' class="btn btn-danger" data-bs-dismiss='modal'>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="renameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="renameModalLabel">Rename</h5>
                    </div>
                    <div class="modal-body">

                        <p>New Name for <span id='rename_fileName'></span></p>                        

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">New Name</span>
                            <input type="text" id='rename_file' class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id='rename_button' class="btn btn-danger" data-bs-dismiss='modal'>Rename</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="downloadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="downloadModalLabel">Download</h5>
                    </div>
                    <div class="modal-body">
                        
                        <p>Download file as..</p>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Save as</span>
                            <input type="text" id='download_file_name' class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id='download_file' class="btn btn-danger" data-bs-dismiss='modal'>Download</button>
                    </div>
                </div>
            </div>
        </div>

        <div id='toast' style="z-index: 11">

            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">

                <div class="toast-header">
                    <strong class="me-auto"><code>CodeEditor</code></strong>
                    <button type="button" id='close_toast' class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>

                <div class="toast-body">
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>
        <script src="../script/home.js"></script>
    </body>
</html>